[submodule "languages"]
	path = languages
	url = https://github.com/ArunaBot/ArunaLanguages.git
[submodule "src/main/Website"]
	path = src/main/Website
	url = https://github.com/ArunaBot/Website.git
[submodule "src/main/Twitch"]
	path = src/main/Twitch
	url = https://github.com/ArunaBot/ArunaTwitch.git
